@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');



.body {
    background-color: bisque;
}

.PAW-CLUB {
    border: 1px solid #3A59FF;
    color: #FFF;
    font-family: Rammeto One;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
}