body {
    background-color: beige;
}

.contenedor-pare {
    display: flex;
    border: 1px solid #000;
    flex-flow: column wrap;
}

.fila-titol {
    flex-flow: row wrap;
    justify-content: left;
    display: flex;
}

.fila {
    flex-flow: row wrap;
    justify-content: left;
    display: flex;
    flex: auto;
}

.horari {
    flex: 1;
    border: 1px solid #000;
    background-color: bisque;
    padding: 10px;
}

.vacio-horari {
    flex: 6;
    flex-flow: row wrap;
}

.dies-setmana {
    border: 1px solid #000;
    padding: 10px;
    background-color: rgb(250, 146, 18);
}

.vacio-setmana {
    display: flex;
    flex-flow: row;
}

.dias-titulo {
    flex: auto;
    border: 1px solid #000;
    background-color: #e6ff01;
    padding: 10px;
    height: auto;
}
 
.dias {
    display: flex;
    flex-flow: row wrap;
}

.hora {
    flex: 1;
    border: 1px solid #000;
    text-align: center;
    background-color: #01ffff;
    margin: 0 auto;
    height: 24px;
}

.hora-aball {
    border: 1px solid #000;
    background-color: #01ffff;
    margin: 7px auto;
    height: 24px;
}

.doble {
    flex: 1;
    border: 1px solid #000;
    text-align-last: center;
    height: 50px;
}

.individual {
    flex: 1;
    border: 1px solid #000;
    margin: 6px 1px;
    height: 25px; 
}

.pati {
    flex: 5;
    box-sizing: border-box;
    text-align: center;
    margin: 1px 1px;
    height: 24px;
}

.sistemes {
    background-color: #3f4e35;
    color: #ffffff;
}

.aplicacions {
    background-color: #00e000;
    color: #000000;
}

.eie {
    background-color: #c73acc;
    color: #ffffff;
}

.seguretat {
    background-color: #ec1b95;
    color: #ffffff;
}

.serveis {
    background-color: #c48511;
    color: #ffffff;
}

.pati {
    background-color: #686604;
    color: #ffffff;
}

@media (max-width: 400px) {

    .vacio-setmana {
        display: flex;
        flex-flow: row wrap;
    }
}