body {
    background-color: beige;

}

.flex-container {
    border: 1px solid #000;
    background-color: #ccc;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 80%;;
    margin: 0 auto;
}

.dia {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    flex-flow: row wrap;
    text-align: center;
}

.hora {
    border: 1px solid #000;
    padding: 5px;
    background-color: #01ffff;
    font-weight: bold;
    margin: 0;
    order: 1;
}

.classe {
    border: 1px solid #000;
    padding: 5px;
    background-color: #01ffff;
    font-weight: bold;
    flex-flow: row wrap;
    margin: 0;
    order: 1;
}